<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO List</title>
    {{ bootstrap.load_css() }}
</head>
<body>
    <div class="container">
        {% for t in list %}
            <form action="" method="post">
                <div class="m-3">
                    <label for="exampleFormControlTextarea1" class="form-label d-flex justify-content-center"><h2>Type Here</h2></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name='text' >{{ list[t] }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary mx-3">Update</button>
            </form>
        {% endfor %}
    </div>
</body>
</html>